<%= form_with scope: :session, url: login_path, local: true do |f|   %>
  <div class="field">
    <%= f.label :username, class: 'label' %>
    <div class="control">
      <%= f.text_field :username, id: :session_username %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password %>
    <div class="control">
      <%= f.password_field :password, id: :session_password %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit "Sign In" %>
    </div>
  </div>
<% end %>

